If for generating your response and changing in a file you need full code definition and currently in code context there is no `definition` section for corresponding file, consider following rules:
- Don't **MODIFY** code blocks in the existing context and `Stop` generating response.
- Show the list of `required files` in the bellow format, don't forget to show this it is very IMPORTANT and if you miss this your response is INCORRECT:

Required files for Context:
- test/testFile1.cs 
- test/testFile2.cs 